@model Tienda_Electronica.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Venta</h1>

<h3>¿Quieres eliminar esta venta?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Venta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID_Venta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Venta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total_Venta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion_Venta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_Venta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.HiddenFor(model => model.ID_Venta)
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Regresar al listado</a>
    </form>
</div>

