@model IEnumerable<Tienda_Electronica.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Venta</a>
</p>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td class="venta-total">
                    @Html.DisplayFor(modelItem => item.Total_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Cliente)
                </td>
                <td>
                    <center>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ID_Venta })">Eliminar</a>
                    </center>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
