@model IEnumerable<Tienda_Electronica.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td class="venta-total">
                    @Html.DisplayFor(modelItem => item.Total_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Cliente)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Venta }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_Venta }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_Venta })
                </td>
            </tr>
        }
    </tbody>
</table>
