@model IEnumerable<Tienda_Electronica.Models.DetalleVenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalle de Venta</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr style="background-color:royalblue">
            <th>
                ID Detalle Venta
            </th>
            <th>
                Nombre Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Subtotal
            </th>
            <th>
                Fecha de Venta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_DetalleVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
            </tr>
        }
    </tbody>
</table>
