@model Tienda_Electronica.Models.Inventario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Inventario</h1>


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Inventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Producto)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Categoria)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
