@model IEnumerable<Tienda_Electronica.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Inventario</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Inventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Inventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Producto)
            </td>
             <td>
                 <center>
                        <a class="btn btn-success" href="@Url.Action("Edit", new { id = item.ID_Inventario })">Editar</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ID_Inventario })">Eliminar</a>
                 </center>
                </td>
        </tr>
} 
    </tbody>
</table>
